# Python virtual environments
llm_vault/

# Byte-compiled files
__pycache__/
*.py[cod]

# FastAPI & general Python artifacts
*.log
.env
*.env
*.db
*.sqlite3

# OS-specific
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Docker and Kubernetes
*.pid
*.tar
*.lock
*.bak
docker-compose.override.yml

# Jupyter
.ipynb_checkpoints/